.menu {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 53.486px;
  flex-direction: row;
  justify-content: flex-start;
  color: #606060;
  margin:  48px 0px 0px 93px;
}

.disc {
  color: #141416;
}

.nav {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-size: 17.829px;
  font-style: normal;
  font-weight: 600;
  line-height: 26.743px;
  text-transform: uppercase;
}

.nav>p {
  margin-right: 54px;
}


